# Chave 1 do Google Gemini (Conta Principal)
GEMINI_API_KEY=sua_chave_gemini_1_aqui

# Chave 2 do Google Gemini (Segunda Conta Google - Failover)
GEMINI_API_KEY_2=sua_chave_gemini_2_aqui

# Chave da Groq Cloud (Gratuita em https://console.groq.com/keys)
GROQ_API_KEY=gsk_sua_chave_groq_aqui

# Chave do DeepSeek (Lembrete: A API do DeepSeek é paga/pré-paga e requer recarga de créditos na plataforma)
# DEEP_SEEK_API_KEY=sua_chave_deepseek_aqui

PORT=8000
